.about {
    scroll-margin-top: 20rem;
}
  
.about .about__left {
    max-width: 40rem;
    float: left; 
    margin-right: 4rem; 
}

.about .about__left p {
    margin: 1rem 0 2rem;
}
  
.about .about__left ul {
    margin-left: -1.2rem;
}
  
.about .about__left ul li {
    display: inline-block;
}
  
.about .about__left ul li a {
    display: inline-block;
    padding: 1rem;
}
  
.about .about__right {
    max-width: 66rem;
    float: right;
}

/* media-queries */
@media (max-width: 900px) {
    .about .about__left {
      max-width: 100%;
      float: none;
      margin-right: 0;
      text-align: center;
    }
  
    .about .about__right {
      max-width: 100%;
      float: none;
      margin-top: 4rem;
      text-align: center;
    }
  }
  
  @media (max-width: 600px) {
    .about .about__left h2 {
      font-size: 3.2rem;
    }
  
    .about .about__left p {
      font-size: 1.4rem;
    }
  
    .about .about__right h3 {
      font-size: 2.4rem;
    }
  
    .about .about__right p {
      font-size: 1.4rem;
    }
  }

.about::after {
    content: "";
    display: table;
    clear: both;
}